# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# IDE
.idea/
*.iml
.metadata
.vscode/

# Platform
.flutter-plugins
.flutter-plugins-dependencies
